{% extends "website/base.html" %}
{% block content %}
{% if user.is_authenticated %}

    <div class="media text-muted pt-3">
    <div class="media-body pb-3 mb-0 small lh-125">
    <div class="d-flex justify-content-between align-items-center w-100">
    <strong class="text-gray-dark"><a href="/add_task/" class="btn btn-success">Новая заявка</a></strong>
    <form method="post" action="/task_search/">
    {% csrf_token %}
    {{ form }}
    </form>
    </div></div></div>

    <table class="table table-bordered table-hover">
      <thead class="table-success">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">ФИО</th>
          <th scope="col">Телефон</th>
          <th scope="col">Поток</th>
          <th scope="col">Комната</th>
          <th scope="col">Статус</th>
          <th scope="col">Оплачено</th>
          <th scope="col">Время создания</th>
        </tr>
      </thead>
      <tbody>
        {% if results %}
        {% for task in results %}
        <tr>
          <td><a href="{% url 'task' task.id %}">{{ task.id }}</a></td>
          <td>
            {% for i in task.clients.all %}
            {{ i.first_name }} {{ i.last_name }} <br>
            {% endfor %}
          </td>
          <td>
            {{ task.phone }}
          </td>
          <td>
            {{ task.potok }}
          </td>
          <td>
            {{ task.room }}
          </td>
          <td>
            {{ task.status }}
          </td>
          <td>
            {{ task.money }}
          </td>
          <td>
            {{ task.created_at }}
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    {% else %}
        Поиск не дал результатов.
    {% endif %}

  <br>
  {% else %}
  <div class="col-md-6 offset-md-3">
    <h3>Авторизация</h3>
    <br>
    <form action="{% url 'home' %}" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Логин" required>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Пароль" required>
      </div>
      <button type="submit" class="btn btn-success">Войти</button>
    </form>
  </div>
  {% endif %}

{% endblock content %}
